.section-outer {
	width: 100%;
}

.section-inner {
	max-width: 102.4rem;
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.section--angle-top {
	clip-path: polygon(0 3vw, 100% 0, 100% 100%, 0% 100%);
	margin-top: -3vw;
}

.section--angle-both {
	clip-path: polygon(0 3vw, 100% 0, 100% calc(100% - 3vw), 0% 100%);
	margin-top: -3vw;
}

@media only screen and (max-width: 64em) {
	.section-inner {
		padding: 0 1.6rem;
	}
}
