.header {
	background-color: var(--primary-light);
}

.header__container {
	height: 9.6rem;
	width: 100%;
	max-width: 122.4rem;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 2.4rem 0rem;
}

.header__logo {
	width: 24rem;
	margin-top: 2rem;
	color: var(--black);
}

.header__hero {
	width: 16rem;
	position: absolute;
	top: 2.3rem;
	right: 1.6rem;
}

.header__hero--mobile {
	width: 16rem;
	display: none;
}

.header__nav-container {
	margin-top: 1.8rem;
	margin-right: 18rem;
}

.mobile-nav {
	display: none;
}

@media only screen and (max-width: 90em) {
	.header__container {
		padding: 2.4rem;
	}
}

/* 1024px */
@media only screen and (max-width: 64em) {
	.header__nav-container {
		margin-right: 0;
	}

	.header__hero {
		display: none;
	}

	.header__hero--mobile {
		display: inline-block;
	}

	.header__container {
		padding: 0 1.6rem;
	}
}

/* 900px */
@media only screen and (max-width: 56.24em) {
	.header__container {
		height: 5.6rem;
	}

	.header__logo {
		width: 18rem;
	}

	.mobile-nav {
		display: inline-block;
	}

	.header__nav-container {
		display: none;
	}
}
