.social-icon {
	width: 4rem;
	height: 4rem;
	border: .2rem solid var(--gray-light);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 1.6rem;
	cursor: pointer;
	transition: all .2s;
}

.social-icon svg {
	width: 2.4rem;
	height: 2.4rem;
}

.social-icon-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.social-icon-container a {
	color: inherit;
}

.social-icon:hover {
	color: var(--primary-dark);
	border: .1rem solid var(--primary-dark);
}
