.about {
	padding-bottom: 12rem;
}

.about__content {
	display: flex;
	justify-content: space-around;
}

.about__left {
	flex: 1 1 auto;
	border-right: 1px solid var(--gray-medium);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-right: 2.4rem;
}

.about__right {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 2.4rem;
}

.about__img {
	max-width: 28.8rem;
}

.about__img:not(:last-of-type) {
	margin-bottom: 4.8rem;
}

.about__p {
	max-width: 54.4rem;
}

.about__p:not(:last-of-type) {
	margin-bottom: 4.8rem;
}

.about h2 {
	margin-top: -1.8rem;
}

/* 600px */
@media only screen and (max-width: 37.5em) {
	.about__content {
		flex-direction: column;
	}

	.about__left {
		padding-right: 0;
		border-right: none;
	}

	.about__right {
		padding-left: 0;
		margin-top: 4.8rem;
		padding-top: 4.8rem;
		border-top: .1rem solid var(--gray-medium);
	}
}
