.contact {
	padding-bottom: 12rem;
}

.contact__content {
	display: flex;
	justify-content: space-around;
}

.contact__left {
	flex: 1 1 auto;
	padding-right: 2.4rem;
	border-right: 1px solid var(--gray-medium);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact__right {
	flex: 1 1 60rem;
	padding-left: 2.4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact h2 {
	margin-bottom: 0;
}

.contact__item {
	margin-bottom: 3.6rem;
}

.contact__comments {
	width: 100%;
	max-width: 60rem;
	display: flex;
	flex-direction: column;
}

.contact__comments input {
	margin-bottom: 1.6rem;
}

.contact__comments-submit {
	display: flex;
	justify-content: flex-end;
	margin-top: 5.6rem;
}

/* 600px */
@media only screen and (max-width: 37.5em) {
	.contact__content {
		flex-direction: column;
	}

	.contact__left {
		border-right: none;
		border-bottom: .1rem solid var(--gray-medium);
		align-items: flex-start;
		padding-bottom: 1.6rem;
	}

	.contact__right {
		margin-top: 4.8rem;
		padding-left: 0;
	}
}
