.hero-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12rem 0;
}

.hero-section__left {
	margin-top: -3.8rem;
}

.hero-section__left h1 {
	animation: floatUp .8s ease-out;
	animation-delay: .2s;
	animation-fill-mode: backwards;
	letter-spacing: -.05rem;
}

.hero-section__left h5 {
	animation: floatUp .8s ease-out;
}

.hero-section__left a {
	animation: floatUp .8s ease-out;
	animation-delay: .4s;
	animation-fill-mode: backwards;
}

.hero-section__right {
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 56rem;
}

.hero-section__img {
	width: 100%;
	max-width: 56rem;
	height: auto;
	animation: floatUp .8s ease-out;
	animation-delay: .5s;
	animation-fill-mode: backwards;
}

.hero-section__cta-text {
	margin-bottom: 8rem;
	font-size: 2rem;
	line-height: 3.2rem;
	max-width: 50rem;
	animation: floatUp .8s ease-out;
	animation-delay: .3s;
	animation-fill-mode: backwards;
}

.details-section {
	padding: 20rem 0 16rem 0;
}

.features {
	margin-bottom: 20rem;
}

.features__item:not(:last-of-type) {
	margin-right: 3.2rem;
}

.features__item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 16rem;
}

.features__item-text {
	flex: 0 1 50rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.features__item-text p {
	font-size: 2rem;
	line-height: 3.2rem;
}

.features__item-image {
	flex: 0 1 41.6rem;
	margin-left: 3.2rem;
}

.features__item--reverse {
	flex-direction: row-reverse;
}

.features__item--reverse > .features__item-image {
	margin-left: 0;
	margin-right: 3.2rem;
}

.benefits {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20rem;
}

.benefits p {
	font-size: 2rem;
	line-height: 3.2rem;
}

.benefits__left {
	flex: 0 1 41.6rem;
	margin-right: 3.2rem;
}

.benefits__right {
	flex: 0 1 50rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.testimonials {
	padding-top: .8rem;
}

.books-section {
	display: flex;
	justify-content: space-around;
	padding: calc(11.2rem + 3vw) 0;
}

.books-teal {
	background-image: url("../images/willandalmabg.jpg");
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
}

.speaking-section {
	display: flex;
	justify-content: space-between;
	padding: 20rem 0;
}

.speaking-section__left {
	flex: 0 1 40%;
	margin-right: 3.2rem;
}

.speaking-section__right {
	flex: 0 1 60%;
	display: flex;
	justify-content: flex-end;
}

.speaking-section__content {
	margin-bottom: 4.8rem;
}

.speaking-section__video {
	height: 100%;
	min-height: 32rem;
	width: 100%;
	max-width: 52rem;
	border-radius: .4rem;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}

.about-section {
	padding: 20rem 0 16rem 0;
	display: flex;
	justify-content: space-between;
}

.about-section__left {
	flex: 0 1 46.4rem;
	margin-right: 4.8rem;
}

.about-section__right {
	flex: 0 1 46.4rem;
}

.about-section__header {
	height: 4rem;
	position: relative;
	margin-bottom: 1.6rem;
}

.about-section__header .thumbnail {
	position: absolute;
	right: 0;
	top: -2rem;
}

.about-section__header-icon {
	position: absolute;
	font-size: 3.2rem;
	right: 0;
	top: -.5rem;
}

.about-section__content {
	margin-bottom: 5.6rem;
}

.about-section__link {
	display: flex;
	justify-content: flex-end;
}

/* 1440px */
@media only screen and (max-width: 90em) {
	.hero-section {
		justify-content: space-around;
	}

	.hero-section__img {
		max-width: 48rem;
	}

	.hero-section__cta-text {
		max-width: 48rem;
	}

	.hero-section__left h1 {
		font-size: 5.6rem;
		margin-bottom: 1.6rem;
		white-space: nowrap;
	}
}

/* 1024px */
@media only screen and (max-width: 64em) {
	.hero-section__hero-container {
		right: 10%;
	}
}

/* 900px */
@media only screen and (max-width: 56.25em) {
	.hero-section {
		flex-direction: column-reverse;
		align-items: center;
		padding: 7.2rem 0 12rem 0;
	}

	.hero-section__left {
		flex: 1 1 auto;
		margin-right: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		z-index: 1;
	}

	.hero-section__left h1 {
		font-size: 4rem;
		line-height: 4.8rem;
		margin-bottom: 1.6rem;
	}

	.hero-section__right {
		z-index: 0;
		flex: 1 1 auto;
		margin-top: -7.2rem;
	}

	.hero-section__img {
		margin: 2.4rem 0;
	}

	.hero-section__cta-text {
		margin-bottom: 4.8rem;
	}

	.details-section {
		padding: 12rem 0 4.8rem 0;
	}

	.features {
		margin-bottom: 7.2rem;
	}

	.benefits {
		margin-bottom: 7.2rem;
	}

	.benefits__right {
		max-width: 49.6rem;
		min-width: 34rem;
		flex: 1 1 auto;
	}

	.books-section {
		background-size: cover;
	}

	.books-section .card:not(:last-of-type) {
		margin-right: 3.2rem;
	}

	.speaking-section {
		padding: 12rem 0;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
	}

	.speaking-section__right {
		flex: 1 1 32rem;
		width: 100%;
		margin-bottom: 4.8rem;
		justify-content: center;
	}

	.speaking-section__left {
		max-width: 49.6rem;
		margin-right: 0;
	}

	.speaking-section__content {
		margin-bottom: 5.6rem;
	}

	.speaking-section__video {
		height: auto;
		min-height: 0;
		max-width: 49.6rem;
	}

	.speaking-section__btn {
		display: flex;
		justify-content: flex-end;
	}

	.about-section {
		padding: 12rem 0;
		flex-direction: column;
		align-items: center;
	}

	.about-section__left {
		flex: 0 1 auto;
		margin-right: 0;
		margin-bottom: 7.2rem;
		width: 100%;
		max-width: 48rem;
	}

	.about-section__right {
		flex: 0 1 auto;
		width: 100%;
		max-width: 48rem;
	}
}

/* 600px */
@media only screen and (max-width: 37.5em) {
	.hero-section__right img {
		margin-left: 0;
	}

	.features {
		flex-direction: column;
		align-items: center;
		margin-bottom: 7.2rem;
	}

	.features__item {
		flex-direction: column-reverse;
		align-items: center;
		margin-bottom: 7.2rem;
	}

	.features__item-text {
		flex: 0 0 auto;
		width: 100%;
		max-width: 44.8rem;
	}

	.features__item p {
		font-size: 2rem;
		line-height: 3rem;
	}

	.features__item-image {
		margin-right: 0rem;
		margin-bottom: 2.4rem;
		flex: 0 0 auto;
		width: 100%;
		max-width: 44.8rem;
		margin-left: 0;
	}

	.features__item--reverse > .features__item-image {
		margin-right: 0;
		margin-bottom: 2.4rem;
	}

	.features__item:not(:last-of-type) {
		margin-right: 0;
		margin-bottom: 4.8rem;
	}

	.details-section__subheading {
		margin-top: 1.6rem;
	}

	.benefits {
		flex-direction: column;
		align-items: center;
	}

	.benefits__left {
		margin-right: 0rem;
		margin-bottom: 2.4rem;
		flex: 0 0 auto;
		width: 100%;
		max-width: 44.8rem;
	}

	.benefits__right {
		min-width: 0;
		max-width: 44.8rem;
	}

	.testimonials {
		padding-top: 1.6rem;
	}

	.books-section {
		flex-direction: column;
		align-items: center;
		padding: calc(9.6rem + 3vw) 0;
	}

	.books-section .card:not(:last-of-type) {
		margin-right: 0;
		margin-bottom: 7.2rem;
	}

	.books-teal {
		background-image: url('../images/willandalmabg-vertical.jpg');
	}
}

/* 400px */
@media only screen and (max-width: 25em) {
	.hero-section__cta-text {
		font-size: 1.8rem;
		line-height: 2.8rem;
	}

	.features__item p {
		font-size: 1.8rem;
		line-height: 2.8rem;
	}

	.benefits__right p {
		font-size: 1.8rem;
		line-height: 2.8rem;
	}
}

@keyframes floatUp {
	0% {
		transform: translateY(6.4rem);
		opacity: 0;
	}

	100% {
		transform: translateY(0rem);
		opacity: 1;
	}
}
