.hero-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12rem 0;
	gap: 3rem;
}

.hero-section__right {
	display: flex;
	justify-content: center;
	width: 36rem;
}

.hero-section__img {
	height: auto;
	width: 100%;
	max-width: 36rem;
	object-fit: contain;
}

.hero-section__cta-text {
	margin-bottom: 4rem;
	font-size: 2rem;
	line-height: 3.2rem;
	max-width: 60rem;
}

.testimonials {
	padding: 10rem 0 8rem 0;
}

.igvideo-wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
}

.igvideo-wrapper iframe {
	height: 50rem;
	width: 100%;
	max-width: 52rem;
}

@media only screen and (max-width: 30em) {
	.igvideo-wrapper iframe {
		height: 45rem;
		width: 100%;
	}
}

@media only screen and (max-width: 25em) {
	.igvideo-wrapper iframe {
		height: 40rem;
	}
}

.details-section {
	padding: 8.5rem 0 5rem 0;
}

.books-section {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding: calc(9.6rem + 3vw) 0;
	margin-top: -1.5vw;
}

.books-teal {
	background-image: url("../images/willandalmabg.jpg");
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
}

.book-preview {
	display: flex;
	justify-content: space-between;
	padding: 16rem 0 12rem 0;
}

.book-preview__text {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.book-preview__text div {
	width: 100%;
	max-width: 40rem;
}

.book-preview h1 {
	position: relative;
}

.book-preview__text h1:after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 1.2rem;
	background-color: var(--yellow);
	bottom: .4rem;
	z-index: -1;
}

.book-preview h4 {
	text-align: right;
}

.book-preview__text h5 {
	font-family: Poppins;
	color: var(--gray-dark);
}

.book-preview__text h1 {
	font-style: italic;
}

.book-preview figure {
	width: 100%;
	max-width: 48rem;
	margin-right: 8rem;
}
.speaking-section {
	display: flex;
	justify-content: space-between;
	padding: 12rem 0;
}

.speaking-section__left {
	flex: 0 1 46.4rem;
	margin-right: 3.2rem;
}

.speaking-section__right {
	flex: 1 1 auto;
	display: flex;
	justify-content: flex-end;
}

.speaking-section__content {
	margin-bottom: 4.8rem;
}

.speaking-section__video {
	height: 100%;
	min-height: 32rem;
	width: 100%;
	max-width: 52rem;
	border-radius: .4rem;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-height: 67.5em) {
	.hero-section__right {
		max-width: 54rem;
	}
}

/* 1440px */
@media only screen and (max-width: 90em) {
	.hero-section {
		justify-content: space-around;
	}

	.hero-section__right {
		max-width: 48rem;
	}

	.hero-section__left h1 {
		font-size: 5.6rem;
		margin-bottom: 1.6rem;
		white-space: nowrap;
	}
}

/* 1024px */
@media only screen and (max-width: 64em) {
	.hero-section__left {
		margin-right: 2.4rem;
	}

	.hero-section__left h1 {
		font-size: 4.8rem;
		margin-bottom: 1.6rem;
		white-space: nowrap;
	}

	.hero-section__cta-text {
		font-size: 1.8rem;
		max-width: 52rem;
	}

	.hero-section__hero-container {
		right: 10%;
	}
}

/* 900px */
@media only screen and (max-width: 56.25em) {
	.hero-section {
		flex-direction: column-reverse;
		align-items: center;
		padding: 7.2rem 0 12rem 0;
		gap: 1rem;
	}

	.hero-section__left {
		flex: 1 1 auto;
		margin-right: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		z-index: 1;
	}

	.hero-section__left h1 {
		font-size: 4.8rem;
		line-height: 4.8rem;
		margin-bottom: 1.6rem;
	}

	.hero-section__right {
		z-index: 0;
		flex: 1 1 auto;
		margin-bottom: 2rem;
	}

	.hero-section__img {
		margin: 0;
		max-width: 30rem;
	}

	.hero-section__cta-text {
		margin-bottom: 4.8rem;
	}

	.details-section {
		padding: 6rem 0 4rem 0;
	}


	.books-section {
		flex-direction: column;
		align-items: center;
		padding: calc(9.6rem + 3vw) 0;
	}

	.books-section .card:not(:last-of-type) {
		margin-right: 0;
		margin-bottom: 5rem;
	}

	.books-teal {
		background-image: url('../images/willandalmabg-vertical.jpg');
		background-size: cover;
	}

	.book-preview {
		flex-direction: column;
		padding: 9.6rem 0;
	}

	.book-preview__text {
		margin-top: 4rem;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.book-preview figure {
		margin-right: 0;
	}

	.book-preview__text h1:after {
		bottom: 0;
	}

	.speaking-section {
		padding: 8rem 0;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
	}

	.speaking-section__right {
		flex: 1 1 32rem;
		width: 100%;
		margin-bottom: 4.8rem;
		justify-content: center;
	}

	.speaking-section__left {
		flex: 1 1 auto;
		max-width: 49.6rem;
		margin-right: 0;
	}

	.speaking-section__content {
		margin-bottom: 5.6rem;
	}

	.speaking-section__video {
		height: auto;
		min-height: 0;
		max-width: 49.6rem;
	}

	.speaking-section__btn {
		display: flex;
		justify-content: flex-end;
	}
}

/* 600px */
@media only screen and (max-width: 37.5em) {
	.hero-section__cta-text {
		font-size: 1.6rem;
		line-height: 2.8rem;
		margin-bottom: 3.6rem;
	}

	.hero-section__left h1 {
		font-size: 4rem;
		line-height: 4rem;
	}

	.hero-section__right img {
		margin-left: 0;
	}

	.hero-section__img {
		margin: 0;
		max-width: 24rem;
	}
}

/* 400px */
@media only screen and (max-width: 25em) {
	.hero-section__left h1 {
		font-size: 3.2rem;
		line-height: 3.2rem;
		margin-bottom: .8rem;
	}
}
