.merch {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 4rem;
}

.merch p {
	max-width: 52rem;
}

.merch p:last-of-type {
	margin-bottom: 0;
}

.merch__images {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2.4rem;
	margin-bottom: 12rem;
}

/* 600px */
@media only screen and (max-width: 37.5em) {
	.merch__images {
		grid-template-columns: 1fr;
	}
}
