.blog-post {
	width: 100%;
	max-width: 80rem;
	display: flex;
	flex-direction: column;
}

.blog-post__content {
	max-width: 53.6rem;
}

.blog-post__img {
	max-width: 53.6rem;
	margin-bottom: 2.4rem;
	height: 100%;
	max-height: 32rem;
	object-fit: cover;
}

.blog-post__link {
	margin-top: 4.8rem;
	text-align: right;
}

.blog-post:not(:last-of-type) {
	margin-bottom: 6.4rem;
}
