.blog-post {
	width: 100%;
	max-width: 80rem;
}

.blog-post__content {
	max-width: 53.6rem;
}

.blog-post__img {
	max-width: 53.6rem;
	margin-top: .8rem;
	margin-bottom: 2.4rem;
	height: 100%;
	object-fit: cover;
}

.blog-post__link {
	margin-top: 4.8rem;
	text-align: right;
}

.blog-post:not(:last-of-type) {
	margin-bottom: 8rem;
}

@media only screen and (max-width: 37.5em) {
	.blog-post h5 {
		margin-top: 0;
	}

	.blog-post:not(:last-of-type) {
		margin-bottom: 6.4rem;
	}
}
