.book-details {
	display: flex;
}

.book-details:not(:last-of-type) {
	margin-bottom: 14.6rem;
}

.book-details__images {
	flex: 1 1 41.6rem;
	margin-right: 2.4rem;
}

.book-details__content {
	flex: 0 1 54.4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin-left: 2.4rem;
}

.book-details__buy {
	display: flex;
	justify-content: flex-end;
	margin-top: 6.4rem;
}

.book-details h2 {
	text-transform: uppercase;
	font-size: 4rem;
	font-style: italic;
}

.book-details h5 {
	margin-top: -.7rem;
}

/* 750px  */
@media only screen and (max-width: 46.875em) {
	.book-details {
		flex-direction: column;
		align-items: center;
	}

	.book-details__images {
		flex: 0 1 auto;
		width: 100%;
		margin-right: 0;
		margin-bottom: 4.8rem;
	}

	.book-details__content {
		flex: 0 1 auto;
		margin-left: 0;
		max-width: 48rem;
	}

	.book-details:not(:last-of-type) {
		margin-bottom: 9.6rem;
	}

	.book-details__buy {
		margin-top: 4.8rem;
	}

	.book-details__content h2 {
		font-size: 2.8rem;
		margin-top: -.4rem;
	}
}
