:root {
	--primary-light: hsl(175, 50%, 80%);
	--primary-dark: hsl(175, 73%, 30%);
	--red: hsl(0, 79%, 48%);
	--yellow: hsl(48, 85%, 70%);
	--gray-light: hsl(175, 5%, 95%);
	--gray-medium: hsl(175, 5%, 80%);
	--gray-dark: hsl(175, 5%, 45%);
	--gray-dark-2: hsl(175, 5%, 55%);
	--black: hsl(175, 5%, 25%);
	--black-2: hsl(175, 5%, 35%);
	--white: hsl(0, 0%, 100%);
}

.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.site-content {
	flex-grow: 1;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html,
body {
	height: 100%;
	display: flex;
	flex-direction: column;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
	overflow-y: scroll;
}

body {
	font-size: 1.8rem;
	line-height: 2.8rem;
	font-family: 'Poppins', sans-serif;
	color: var(--black-2);
}

h1 {
	font-size: 7rem;
	line-height: 7rem;
	font-weight: 500;
	font-family: 'Solway', serif;
	letter-spacing: -.1rem;
	color: var(--black);
	margin-bottom: 1.6rem;
}

h1.page-title {
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.2rem;
	font-style: normal;
	margin: 8rem 0;
	text-align: right;
	font-family: Poppins, sans-serif;
	letter-spacing: 0;
}

h2 {
	font-size: 5.4rem;
	line-height: 5.4rem;
	margin-bottom: 1.6rem;
	font-weight: 500;
	font-family: 'Solway', serif;
	letter-spacing: -.1rem;
	color: var(--black);
}

h3 {
	font-size: 4.4rem;
	line-height: 4.4rem;
	margin-bottom: .8rem;
	font-weight: 500;
	font-family: 'Solway', serif;
	letter-spacing: -.1rem;
	color: var(--black);
}

h4 {
	font-size: 2.8rem;
	line-height: 3.2rem;
	margin-bottom: .8rem;
	font-family: 'Solway', serif;
	letter-spacing: -.1rem;
	font-weight: 500;
	color: var(--black);
}

h5 {
	font-size: 1.6rem;
	font-weight: 400;
	text-transform: uppercase;
	color: var(--gray-dark);
	letter-spacing: .05rem;
}

p {
	margin-bottom: 2.4rem;
}

.cta-emphasis {
	color: var(--red);
	font-weight: 500;
}

a,
.link,
.link-caps {
	cursor: pointer;
	color: var(--primary-dark);
	cursor: pointer;
	text-decoration: none;
}

a,
.link {
	font-weight: 400;
	text-transform: none;
	transition: all .2s;
}
.link-caps {
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: .02rem;
	transition: all .2s;
}

a:hover,
.link:hover,
.link-caps:hover {
	color: var(--black);
}

button.link,
button.link-caps {
	background-color: transparent;
	border: none;
	font-size: 1.6rem;
	text-align: left;
	font-family: Poppins;
}

ul {
	list-style: none;
}

ul li::before {
	content: "\2022";
	color: var(--primary-dark);
	font-weight: bold;
	display: inline-block;
	width: 1.6rem;
	margin-left: -1.6rem;
}

.fullvh {
	height: 82vh;
	overflow: hidden;
}

@media only screen and (max-width: 90rem) {
	h1 {
		font-size: 5.6rem;
		line-height: 5.6rem;
	}

	h5 {
		font-size: 1.4rem;
	}
}

@media only screen and (max-width: 64rem) {
	h1 {
		font-size: 4.8rem;
		line-height: 4.8rem;
	}
}

@media only screen and (max-width: 56.25em) {
	.fullvh {
		height: auto;
	}

	h2 {
		font-size: 3.2rem;
		line-height: 3.2rem;
		margin-bottom: .8rem;
	}

	h3 {
		font-size: 2.8rem;
		line-height: 2.8rem;
	}
}

@media only screen and (max-width: 37.5em) {
	h1.page-title {
		margin: 4rem 0;
	}
}
